{% extends 'base.html.twig' %}

{% block title %}ajout{% endblock %}

{% block body %}
    <div class="container">
    <h1>Ajouter des ingrédients</h1>
        {{ form(form) }}
    </div>
   
{% endblock %}
