*{
    font-family:Helvetica, sans-serif;
}
:root{
    --subtitle-color:salmon;
    --text-color:grey;
    --banner-color:rgb(30, 30, 30);
}
body{
    width:100vw;
    min-height:100vh;
    margin:0;
    padding:0;
    background:rgb(244, 244, 244);
    overflow-x: hidden;
}
header{
    position:fixed;
    height:150px;
    width:100vw;
    top:0;
    left:0;
    background:var(--banner-color);
    background-size:cover;
    z-index:100;
}
#connexion{
    position:fixed;
    width:100px;
    height:30px;
    top:5px;
    left:calc(100% - 125px);
    border:none;
    border-radius:20px;
    background:var(--subtitle-color);
    z-index:10;
}
#connexion a{
    color:white;
    text-decoration:none;
}
#connexion:hover{
    background:var(--banner-color);
}
nav{
    position:fixed;
    height:40px;
    width:100%;
    top:0;
    background:rgba(0,0,0,0.5);
}
nav ul{
    position:fixed;
    height:40px;
    width:100%;
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
}
nav ul li{
    width:150px;
    height:40px;
    text-align:center;
}
nav ul li a{
    display:block;
    width:150px;
    height:40px;
    line-height:40px;
    text-align:center;
    text-decoration:none;
    color:white;
}
nav ul li a:hover{
    display:block;
    line-height:40px;
    color:white;
    text-decoration:none;
    border-bottom:1px solid var(--subtitle-color);
}
h1{
    position:absolute;
    left:50px;
    top:25px;
    font-size:50px;
    color:white;
}
.banner{
    position:fixed;
    width:100vw;
    height:50px;
    top:150px;
    background:var(--banner-color);
    z-index:10;
}
.auteur{
    margin-left:50px;
    color:white;
}
h2{
    color:var(--subtitle-color);
}
.container{
    width:80%;
    margin:250px 10%;
    padding:20px;
    box-sizing: border-box;
    border-radius:5px;
    background:white;
}
.content img{
    width:100%;
}
p{
    color:grey;
}
footer{
    position:relative;
    bottom:0;
    height:100px;
    width:100%;
    background:var(--banner-color);
}